@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/fonts/IBMPlexSans.woff2') format('woff2');
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/static/fonts/IBMPlexSans-Italic.woff2') format('woff2');
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
}
body {
    font-family: 'IBM Plex Sans', sans-serif !important;
    color: #2a1e00 !important;
}

h1{
    color: green;
    background-color: gold;
    text-align: center;
}