{% load static %}
<section class="container-fluid py-5">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h2 class="fw-bold companies_heading">Trusted by Industry Leaders</h2>
    </div>
  </div>

  <div class="logo-slider">
    <div class="logo-track">
      <div class="logo-item">
        <img src="{% static 'images/logos/adobe.png' %}" alt="adobe" />
        <span class="logo-item__name" style="color: #fa0700">Adobe</span>
      </div>
      <div class="logo-item">
        <img src="{% static 'images/logos/dropbox.png' %}" alt="dropbox" />
        <span class="logo-item__name" style="color: #000000">Dropbox</span>
      </div>
      <div class="logo-item">
        <img src="{% static 'images/logos/framer.png' %}" alt="framer" />
        <span class="logo-item__name" style="color: #000000">Framer</span>
      </div>
      <div class="logo-item">
        <img src="{% static 'images/logos/paypal.png' %}" alt="paypal" />
        <span class="logo-item__name" style="color: #203881">PayPal</span>
      </div>
      <div class="logo-item">
        <img
          src="{% static 'images/logos/perplexity.png' %}"
          alt="perplexity"
        />
        <span class="logo-item__name" style="color: #0b3138">Perplexity</span>
      </div>
      <div class="logo-item">
        <img src="{% static 'images/logos/slack.png' %}" alt="slack" />
        <span class="logo-item__name" style="color: #000000">Slack</span>
      </div>
      <div class="logo-item">
        <img src="{% static 'images/logos/zapier.png' %}" alt="zapier" />
        <span class="logo-item__name" style="color: #201515">Zapier</span>
      </div>
      <!-- -------------------------------- -->
      <div class="logo-item">
        <img src="{% static 'images/logos/adobe.png' %}" alt="adobe" />
        <span class="logo-item__name" style="color: #fa0700">Adobe</span>
      </div>
      <div class="logo-item">
        <img src="{% static 'images/logos/dropbox.png' %}" alt="dropbox" />
        <span class="logo-item__name" style="color: #000000">Dropbox</span>
      </div>
      <div class="logo-item">
        <img src="{% static 'images/logos/framer.png' %}" alt="framer" />
        <span class="logo-item__name" style="color: #000000">Framer</span>
      </div>
      <div class="logo-item">
        <img src="{% static 'images/logos/paypal.png' %}" alt="paypal" />
        <span class="logo-item__name" style="color: #203881">PayPal</span>
      </div>
      <div class="logo-item">
        <img
          src="{% static 'images/logos/perplexity.png' %}"
          alt="perplexity"
        />
        <span class="logo-item__name" style="color: #0b3138">Perplexity</span>
      </div>
      <div class="logo-item">
        <img src="{% static 'images/logos/slack.png' %}" alt="slack" />
        <span class="logo-item__name" style="color: #000000">Slack</span>
      </div>
      <div class="logo-item">
        <img src="{% static 'images/logos/zapier.png' %}" alt="zapier" />
        <span class="logo-item__name" style="color: #201515">Zapier</span>
      </div>
    </div>
  </div>
</section>