{% load static %}
<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  aria-label="Thirteenth navbar example"
>
  <div class="container-fluid">
    <!-- Logo -->
      <a class="navbar-brand col-lg-3 me-0" href="{% url 'index' %}">
        <img src="{% static 'logo.svg' %}" alt="logo" width="22px" />
        <strong class="color-primary">Focus</strong>
      </a>
      
    <!-- Mobile toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex" id="mainNav">
      
      <!-- Links -->
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link active" href="#" data-section="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features" data-section="features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing" data-section="pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq" data-section="about">FAQ</a>
        </li>
      </ul>
      <!-- Buttons -->
      <div class="d-sm-flex d-lg-flex justify-content-sm-end justify-content-lg-end gap-2 ms-lg-auto">
        <a class="btn btn-secondary my-sm-0 w-100 w-lg-auto mb-2 mb-lg-0 btn-nav-login">Login</a>
        <a class="btn btn-primary my-sm-0 w-100 w-lg-auto btn-nav-signup" href="{% url 'signup' %}">Signup</a>
      </div>
    </div>
  </div>
</nav>