{% extends 'base.html' %}

{% block content %}
<h1>Hellllllllllo</h1>
<h1 class="fw-bold">Heading</h1>
<p class="fw-light">Light text</p>
<br>
<br>
<br>
<div class="container py-5">
  <div class="card shadow-soft p-4">
    <h3 class="text-foreground">CRM Dashboard</h3>
    <p class="text-muted">Manage your leads efficiently</p>

    <input class="form-control my-3" placeholder="Enter email">

    <button class="btn btn-primary rounded-md">
      Get Started
    </button>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}